div.content-container {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    border: 5px solid #cc5500;
    border-style: outset;
    background-color: #FFFFFF;
}

body {
    background-color: #ffc57a;
}

h1 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

p {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
}

.headers {
    width: 80%;
    display: table;
    margin: 0 auto;
}

.byline {
    font-family: 'Noto Serif', serif;
    margin-bottom: 35px;
}

.header-img {
    width: 80%;
    display: table;
    margin: 0 auto;
}

.header-img img {
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
}

figcaption {
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 'Noto Serif', serif;
    max-width: 800px;
    margin: 0 auto;
}

figcaption .credit {
    color: #808080;
}

hr {
    border: 1px solid #cc5500;
}

.chart {
    font-family: 'Noto Serif', serif;
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 5% auto;
}

.notes {
    color: #808080;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%
}

footer {
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Noto Serif', serif;
    color: #A9A9A9;
    font-size: 15px;
}